/* Google Web Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #000; */
}

.navi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.navi li {}
.navi li a{
    font-size: 4em;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.navi li a::before{
    position: absolute;
    color: yellowgreen;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    content: attr(data-text);
    transition: .5s;
}
.navi li a:hover:before{
    width: 100%;
}
.photo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: url(/images/withJ/start.png) no-repeat center center; */
    /* jquery에서 가져다 써야해서 나눠서 입력해줌. 정확히 background-image만 가져다 써야 함으로 분리*/
    
    background-image: url(/images/withJ/start.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: .5s;
}